{% extends 'base.html' %}

{% block title %} Sales Locations {% endblock %}

{% block content %}

<h1> Sales Locations </h1>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% if error %}
      <div>{{ error }}</div>
    {% endif %}
<form method="POST">
<div class="location details">
  <h2> Building Details </h2>
    <label for="building-name"> Building Name: </label> <br>
    <input type="text" name="building-name" id="building-name"> <br>

    <p> Does the building have access to Fibre? </p> <br>
    <input type="radio" name="fibre-val" value="Yes" id="fibre-yes">  <br>
    <label > Yes </label> <br>

    <input type="radio" name="fibre-val" value="No" id="fibre-no"> <br>
    <label> No </label> <br>

    <input type="radio" name="fibre-val" value="Connect to MyISP Base Station" id="myisp-base"> <br>
    <label> Can connect to MyISP Base Statio </label> <br>

    
    <label> Number of offices </label> <br>
    <input type="numeric" name="num-offices" id="num-offices"> <br>
    
</div>

<div class="office-details">
  <h2> Office Details </h2>
    <label for="office-name"> Office Name: </label> <br>
    <input type="text" name="office-name" id="office-name"> <br>

    <label for="office-floor"> The office is located on which floor </label> <br>
    <input type="number" name="office-floor" id="office-floor"> <br>

    <label for="other-offices"> More Information on office </label> 
    <p> Enter any useful information regarding the offices </p>
    <textarea name="other-offices" rows="5"></textarea> <br>
    
</div>

<div class="accessibility">
  <h2> Accessibility to Building </h2>
    <label for="access-rate"> Ease of Access </label>
    <fieldset>
        <legend> Select the ease of access with 1 being easy and 3 being hard</legend> 
        <input type="radio" id="level-1" name="level" value="1">
        <label> 1 </label> 

        <input type="radio" id="level-2" name="level" value="2">
        <label> 2 </label>

        <input type="radio" id="level-3" name="level" value="3">
        <label> 3 </label>
    </fieldset>

    <label for="access-info"> Details on access to building </label> <br>
    <textarea name="access-info" rows="5" cols="33"></textarea> <br>
</div>
<button type="submit"> Submit </button>
</form>
{% endblock content %}