{% extends 'base.html' %}
{% block content %}

<div class="flex justify-center mt-12">
  <form method="post" class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md space-y-6 font-montserrat">
    <h1 class="text-2xl font-bold text-center text-gray-800 mb-6"> Client Data </h1>
    <p class="text-2xl font-bold text-center text-gray-800 mb-6"> Enter the details of the client </p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="mb-4">
        {% for message in messages %}
          <li class="text-red-500">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div>
<div class="grid grid-cols-1 divide-y divide-yellow-500">

     <div>
    <h2> Client's Information </h2>
    <label for="client_name"> Client Name </label>
    <input type="text" name="client_name" id="client_name"> <br>

    <label for="client_contact"> Client Contact </label>
    <input type="tel" name="client_contact" id="client_contact"> <br>

    <label for="job_title"> Job Title </label>
    <input type="text" name="job_title" id="job_title"> <br>

    <label for="conversation"> Enter any information regarding the deal or inquries of the client </label>
    <input type="text" name="conversation" id="conversation"> <br>
  </div>
  <div>
    <h2> General Office Details </h2>
    <label for="office_name"> Office Name: </label>
    <input type="text" name="office_name" id="office_name">

    <label for="staff_number"> Staff Number: </label>
    <input type="text" name="staff_number" id="staff_number" > <br>


    <label for="industry"> Industry Category </label>
    <select name="industry" id="industry">
        <option value="ngo"> NGO </option>
        <option value="manufacturing"> Manufacturing Industry </option>
        <option value="bank"> Bank </option>
        <option value="hospital"> Hospital </option>
        <option value="Other"> Other </option>
    </select> <br>
    <input type="text" id="other-industry" name="other-industry" placeholder="Please specify the other category selected"> <br>
  </div>

  <div>
    <h3> Internet Status Information </h3>
    <p> Do they have an existing internet connection? </p>
    <input type="radio" name="yes" id="yes">
    <label for="yes"> Yes </label>

    <input type="radio" name="no" id="no">
    <label for="no"> No </label> <br>

    {% if isp_connected %}
    <p> Select the internet provider the client uses: </p>
    <label for="provider"> Internet Provider: </label> <br>
    <select name="provider" id="provider"> 
        <option value="liquid"> Liquid </option>
        <option value="safaricom_fibre"> Safaricom Fibre </option>
        <option value="zuku"> Zuku </option>
        <option value="ntt_is"> NTT/IS (Internet Solutions)</option>
        <option value="telkom"> Telkom </option>
        <option value="faiba"> Faiba </option>
        <option value="Other"> Other </option>
    </select> <br>
    <input type="text" name="other-provider" id="other-provider"> <br>

    <p> Select the amount the price/rate per month the client pays: </p>
    <label for="price"> Price/Rate per month</label>
    <select name="price" id="price">
        <option value="p1"> Below 5000 </option>
        <option value="p2"> 5000 - 10,000 </option>
        <option value="p3"> 5000 - 10,000 </option>
        <option value="p2"> 10000 - 20,000 </option>
    </select> <br>

    <input type="number" name="other-price" id="other-price"> <br>

    <p> Is the internet connection type dedicated or shared? </p>
    <input type="text" name="dedicated" id="dedicated">
    <label for="dedicated"> Dedicated </label>

    <input type="text" name="shared" id="shared">
    <label for="shared"> Shared </label> <br>

    <label for="product"> What type of prroduct does the client receive from the internet provider? </label>
    <select>
        <option value="telephony"> PBX/Telephony </option>
        <option value="internet"> Internet </option>
        <option value="hosting"> Domain & Hosting </option>
    </select> <br>

    <label for="deal-info"> Enter any additional information related to the internet </label>
    <input type="text" name="deal-info" id="deal-info">

    <label for="deal_status"> Deal status: </label>
    <input type="radio" name="closed" id="closed">
    <label for="radio"> Closed </label> <br>

    <input type="radio" name="follow-up" id="follow-up">
    <label for="radio"> Follow Up </label> <br>

    <input type="radio" name="neotiating" id="negotiating">
    <label for="radio"> Negotiating </label> <br>

    <input type="radio" name="complete" id="complete">
    <label for="radio"> Complete </label> <br>

    <input type="radio" name="dropped" id="dropped">
    <label for="radio"> Dropped </label> <br>

    <input type="radio" name="other-deal-status" id="other-deal-status">
    <label for="radio"> Other </label> <br>

    <label for="deal-input"> Deal status </label>
    <input type="text" name="deal-input" id="deal-input" placeholder="Please specify the deal status">
    <br>
    <button> Submit </button>
    {% else %}
        <button> Submit </button>
  </div>
  {% endif %}
</div>
</div>
</form>
{% endblock content %}