{% extends "base.html"%}
{% block content %}

<div>
  <form method="POST">
    <h2>Add New User</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% if error %}
      <div>{{ error }}</div>
    {% endif %}
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required placeholder="Enter username">
    </div>
    <div>
      <label for="email">Email address</label>
      <input type="email" name="email" id="email" autocomplete="email" required placeholder="Enter email">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" autocomplete="current-password" required placeholder="Enter password">
    </div>
    <button type="submit">
      Add User
    </button>
  </form>
</div>

{% endblock content %}