{% extends "base.html"%}
{% block content %}

<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <form method="POST" class="bg-white p-8 rounded-lg shadow-lg w-48 max-w-md space-y-6 font-montserrat">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Add New User</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="mb-4">
        {% for message in messages %}
          <li class="text-green-500">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% if error %}
      <div class="text-red-500 mb-2">{{ error }}</div>
    {% endif %}
    <div>
      <label for="username" class="flex text-sm font-medium text-gray-700 mb-1">Username</label>
      <input type="text" name="username" id="username" required
        class="flex w-48 rounded-md bg-gray-50 px-3 py-2 text-base text-gray-900 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 font-montserrat"
        placeholder="Enter username">
    </div>
    <div>
      <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email address</label>
      <input type="email" name="email" id="email" autocomplete="email" required
        class="flex w-48 rounded-md bg-gray-50 px-3 m-4 py-2 text-base text-gray-900 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 font-montserrat"
        placeholder="Enter email">
    </div>
    <div>
      <label for="password" class="block text-sm font-medium text-gray-700 mb-1">Password</label>
      <input type="password" name="password" id="password" autocomplete="current-password" required
        class="flex w-48 rounded-md m-4 bg-gray-50 px-3 py-2 text-base text-gray-900 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 font-montserrat"
        placeholder="Enter password">
    </div>
    <button type="submit"
      class="w-48 bg-indigo-600 hover:bg-indigo-700 text-white mt-6 font-bold py-2 px-4 rounded transition duration-200 font-montserrat">
      Add User
    </button>
  </form>
</div>

{% endblock content %}